<%- include('partials/header') %>
<body>
<%- include('partials/navbar') %>
<div class="w-full h-full mt-16">
    <div class="w-full flex flex-col justify-center items-center gap-5">
        <img src="/img/notfound.png" width="300px" alt="imagem de pagina nao encontrada">
        <p class="text-white">Desculpa, infelizmente essa página não existe.</p>
    </div>
</div>
</body>
<%- include('partials/footer') %>